@import 'bootstrap-loader';

// THEME

@import 'w3-theme-blue';

// HEADER

.header {
    padding: 4rem 0 2rem;
}

// MAIN

.main {
    padding: 4rem 0 0;

    .main__heading {
        margin-bottom: 2rem;
    }

    .main__works-item {
        margin-bottom: 1rem;
    }

    .card-text {
        height: 5rem;
    }

    .main__works-link {
        text-align: center;
    }
}

.footer {
    padding: 1.5rem 0 .5rem;
}